<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="file-name-prefix">fusion-connect-orchestrator</Property>
        <Property name="log-path">c:/logs</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
        <Property name="FILE_LOG_PATTERN">%d{${LOG_DATEFORMAT_PATTERN}}	${LOG_LEVEL_PATTERN} --- [%t] %c : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
        </Property>
    </Properties>
    <Appenders>
        <RollingFile name="App-File-Appender"
                     fileName="${log-path}/${file-name-prefix}-RollingFile.log"
                     filePattern="${log-path}/${file-name-prefix}-%d{yyyy-MM-dd}-%i.log"
                     immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </PatternLayout>

            <Policies>
                <SizeBasedTriggeringPolicy size="2 MB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${log-path}">
                    <IfFileName glob="${file-name-prefix}-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <file name="File-Appender" filename="${log-path}/${file-name-prefix}.log">
            <patternlayout>
                <pattern>
                    ${FILE_LOG_PATTERN}
                </pattern>
            </patternlayout>
        </file>
        <Console name="App-Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>


    <loggers>
        <logger name="com.scoperetail" level="debug" additivity="false">
            <appenderref ref="File-Appender" level="info"/>
            <appenderref ref="App-Console-Appender" level="debug"/>
            <appenderref ref="App-File-Appender" level="debug"/>
        </logger>
        <root level="debug">
            <appenderref ref="App-Console-Appender">
            </appenderref>
            <appenderref ref="File-Appender"></appenderref>
        </root>
    </loggers>

</Configuration>